In [0]:
import numpy as np 
import pandas as pd

In [6]:
!unzip properties_2016.csv.zip

Archive:  properties_2016.csv.zip
  inflating: properties_2016.csv
   creating: __MACOSX/
  inflating: __MACOSX/._properties_2016.csv

In [7]:
df = pd.read_csv("properties_2016.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
print(df.shape)
df.head()

(2985217, 58)

   parcelid  airconditioningtypeid  ...  taxdelinquencyyear  censustractandblock
0  10754147                    NaN  ...                 NaN                  NaN
1  10759547                    NaN  ...                 NaN                  NaN
2  10843547                    NaN  ...                 NaN                  NaN
3  10859147                    NaN  ...                 NaN                  NaN
4  10879947                    NaN  ...                 NaN                  NaN

[5 rows x 58 columns]

In [10]:
 df.isnull().sum().sort_values(ascending=False).head(33)

storytypeid                 2983593
basementsqft                2983589
yardbuildingsqft26          2982570
fireplaceflag               2980054
architecturalstyletypeid    2979156
typeconstructiontypeid      2978470
finishedsquarefeet13        2977545
buildingclasstypeid         2972588
decktypeid                  2968121
finishedsquarefeet6         2963216
poolsizesum                 2957257
pooltypeid2                 2953142
pooltypeid10                2948278
taxdelinquencyflag          2928755
taxdelinquencyyear          2928753
hashottuborspa              2916203
yardbuildingsqft17          2904862
finishedsquarefeet15        2794419
finishedsquarefeet50        2782500
finishedfloor1squarefeet    2782500
threequarterbathnbr         2673586
fireplacecnt                2672580
pooltypeid7                 2499758
poolcnt                     2467683
numberofstories             2303148
airconditioningtypeid       2173698
garagetotalsqft             2101950
garagecarcnt                2101950
regionidneighborhood        1828815
heatingorsystemtypeid       1178816
buildingqualitytypeid       1046729
unitcnt                     1007727
propertyzoningdesc          1006588
dtype: int64

In [0]:
badc = df.isnull().sum().sort_values(ascending=False).head(33)

In [12]:
badc = badc.reset_index()
badc = badc['index']

badc_list = []
for c in badc:
  badc_list.append(c)
  
badc_list

['storytypeid',
 'basementsqft',
 'yardbuildingsqft26',
 'fireplaceflag',
 'architecturalstyletypeid',
 'typeconstructiontypeid',
 'finishedsquarefeet13',
 'buildingclasstypeid',
 'decktypeid',
 'finishedsquarefeet6',
 'poolsizesum',
 'pooltypeid2',
 'pooltypeid10',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'hashottuborspa',
 'yardbuildingsqft17',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedfloor1squarefeet',
 'threequarterbathnbr',
 'fireplacecnt',
 'pooltypeid7',
 'poolcnt',
 'numberofstories',
 'airconditioningtypeid',
 'garagetotalsqft',
 'garagecarcnt',
 'regionidneighborhood',
 'heatingorsystemtypeid',
 'buildingqualitytypeid',
 'unitcnt',
 'propertyzoningdesc']

In [0]:
df1 = df.drop(columns=badc_list)

In [14]:
print(df1.shape)
df1.head()

(2985217, 25)

   parcelid  bathroomcnt  ...  taxamount  censustractandblock
0  10754147          0.0  ...        NaN                  NaN
1  10759547          0.0  ...        NaN                  NaN
2  10843547          0.0  ...   20800.37                  NaN
3  10859147          0.0  ...   14557.57                  NaN
4  10879947          0.0  ...    5725.17                  NaN

[5 rows x 25 columns]

In [15]:
df1.isnull().sum().sort_values(ascending=False)

lotsizesquarefeet               276099
finishedsquarefeet12            276033
fullbathcnt                     128912
calculatedbathnbr               128912
censustractandblock              75126
landtaxvaluedollarcnt            67733
regionidcity                     62845
yearbuilt                        59928
calculatedfinishedsquarefeet     55565
structuretaxvaluedollarcnt       54982
taxvaluedollarcnt                42550
taxamount                        31250
regionidzip                      13980
propertycountylandusecode        12277
roomcnt                          11475
bathroomcnt                      11462
bedroomcnt                       11450
assessmentyear                   11439
propertylandusetypeid            11437
fips                             11437
latitude                         11437
longitude                        11437
rawcensustractandblock           11437
regionidcounty                   11437
parcelid                             0
dtype: int64

In [0]:
df1 = df1.drop(columns=['regionidcity', 'longitude', 'latitude',
                        'regionidcounty', 'propertycountylandusecode', 'censustractandblock'])

In [17]:
df1.head()

   parcelid  bathroomcnt  ...  landtaxvaluedollarcnt  taxamount
0  10754147          0.0  ...                    9.0        NaN
1  10759547          0.0  ...                27516.0        NaN
2  10843547          0.0  ...               762631.0   20800.37
3  10859147          0.0  ...               585488.0   14557.57
4  10879947          0.0  ...               239695.0    5725.17

[5 rows x 19 columns]

In [18]:
df1['assessmentyear'].value_counts()

2015.0    2972420
2014.0       1306
2012.0         26
2004.0          6
2013.0          4
2003.0          3
2001.0          3
2010.0          2
2009.0          2
2005.0          2
2016.0          1
2011.0          1
2002.0          1
2000.0          1
Name: assessmentyear, dtype: int64

In [0]:
df2 = df1[df1['assessmentyear'] == 2015.0]

In [20]:
df2.isnull().sum().sort_values(ascending=False)

lotsizesquarefeet               264357
finishedsquarefeet12            263898
fullbathcnt                     116939
calculatedbathnbr               116939
landtaxvaluedollarcnt            56285
yearbuilt                        48061
calculatedfinishedsquarefeet     43688
structuretaxvaluedollarcnt       43164
taxvaluedollarcnt                31103
taxamount                        19574
regionidzip                       1184
roomcnt                              1
bathroomcnt                          0
bedroomcnt                           0
propertylandusetypeid                0
fips                                 0
rawcensustractandblock               0
assessmentyear                       0
parcelid                             0
dtype: int64

In [0]:
df3 = df2.dropna(axis=0)

In [22]:
df3.isnull().sum()

parcelid                        0
bathroomcnt                     0
bedroomcnt                      0
calculatedbathnbr               0
calculatedfinishedsquarefeet    0
finishedsquarefeet12            0
fips                            0
fullbathcnt                     0
lotsizesquarefeet               0
propertylandusetypeid           0
rawcensustractandblock          0
regionidzip                     0
roomcnt                         0
yearbuilt                       0
structuretaxvaluedollarcnt      0
taxvaluedollarcnt               0
assessmentyear                  0
landtaxvaluedollarcnt           0
taxamount                       0
dtype: int64

In [0]:
df3 = df3.drop(columns=['assessmentyear'])

In [0]:
df3 = df3[['parcelid', 'bathroomcnt', 'bedroomcnt', 'regionidzip', 'yearbuilt', 'calculatedfinishedsquarefeet', 'taxvaluedollarcnt']]

In [28]:
df3 = df3.reset_index(drop=True)
print(df3.shape)
df3.head()

(2471261, 7)

   parcelid  bathroomcnt  ...  calculatedfinishedsquarefeet  taxvaluedollarcnt
0  11324547          2.0  ...                        3633.0           291973.0
1  11524947          2.0  ...                        1090.0           352198.0
2  11585547          2.0  ...                        2077.0           637046.0
3  12508747          3.0  ...                        9893.0          1716511.0
4  12606547          3.0  ...                        2166.0           659000.0

[5 rows x 7 columns]

In [29]:
df3.describe()

           parcelid  ...  taxvaluedollarcnt
count  2.471261e+06  ...       2.471261e+06
mean   1.282200e+07  ...       4.231019e+05
std    2.210337e+06  ...       5.859331e+05
min    1.071172e+07  ...       2.300000e+01
25%    1.155080e+07  ...       1.819100e+05
50%    1.247805e+07  ...       3.076140e+05
75%    1.397457e+07  ...       4.934040e+05
max    1.632759e+08  ...       8.883375e+07

[8 rows x 7 columns]

In [0]:
fdf = df3.drop(columns=['taxvaluedollarcnt'])

In [0]:
targetdf = df3[['parcelid', 'taxvaluedollarcnt']].reset_index(drop=True)

In [47]:
targetdf.head()

   parcelid  taxvaluedollarcnt
0  17051828          2195000.0
1  17052152           783000.0
2  17052992            87400.0
3  17053038           229920.0
4  17053061           309132.0

In [0]:
from google.colab import files

In [0]:
df3.to_csv('c1_properties_2016.csv')
files.download('c1_properties_2016.csv')

In [0]:
targetdf.to_csv('c_p2016_target.csv')
files.download('c_p2016_target.csv')